<p-toast></p-toast>
<div class="grid">
    <div class="col-12 lg:col-4 ">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">  Số đơn đặt tour trong 24h</span>
                    <div class="text-900 font-medium text-xl">{{totalBooktour}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">24 new </span> -->
            <span class="text-500">Tính từ hiện tại</span>
        </div>
    </div>
    <div class="col-12 lg:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Tổng thu trong 24h</span>
                    <div class="text-900 font-medium text-xl">{{totalIn.toLocaleString('en-us', {minimumFractionDigits: 0})}} đồng</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-money-bill text-orange-500 text-xl"></i>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">%52+ </span> -->
            <span class="text-500">Tính từ hiện tại</span>
        </div>
    </div>
    <div class="col-12 lg:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Tổng chi trong 24h</span>
                    <div class="text-900 font-medium text-xl">{{totalOut.toLocaleString('en-us', {minimumFractionDigits: 0})}} đồng</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-money-bill text-cyan-500 text-xl"></i>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">520 </span> -->
            <span class="text-500">Tính từ hiện tại</span>
        </div>
    </div>
    



    <div class="col-12  mt-4 card grid" style="margin-left: 1vw;">
       
        <div class="field col-4">
            <label for="day">Chọn số ngày</label>
            <p-dropdown id="day" class="ml-2" [options]="listDay" [(ngModel)]="day" (onChange)="loadStatistic(day)" placeholder="Chọn số ngày thống kê"></p-dropdown>

        </div>
        <div  class="col-11">
            <h5>Thống kê thu chi</h5>
            <p-chart type="line"  [data]="chartData" [options]="chartOptions"></p-chart>
        </div>

      


    </div>
    <div class="col-12  mt-4 card grid" style="margin-left: 1vw;">
        <div class="field col-4">
            <label for="day">Chọn số ngày</label>
            <p-dropdown id="day" class="ml-2" [options]="listDayTransaction" [(ngModel)]="dayTransaction" (onChange)="loadTransaction()" placeholder="Chọn số ngày giao dịch" optionLabel="name" optionValue="value"></p-dropdown>

        </div>
        <p-toolbar styleClass="mb-4" class="col-12">
            <ng-template pTemplate="left">
                <div class="my-2">
                    <button pButton pRipple label="Tạo giao dịch" (click)="showCreate()" pTooltip="Tạo mới giao dịch" icon="pi pi-plus"
                        class="p-button-success mr-2"></button>
                  

                </div>
            </ng-template>

        </p-toolbar>


            <h5>Danh sách  giao dịch</h5>
            <p-table #dt1 [value]="listTransaction" 
            [globalFilterFields]="['id','code','content','status','timeCreated','type','createdBy']" responsiveLayout="scroll" [rows]="10" [rows]="10"
            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
            [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                            placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div>
                            Mã giao dịch
                            <!-- <p-columnFilter type="number" field="code" display="menu"></p-columnFilter> -->
                        </div>
                    </th>
                    <!-- <th>
                        <div>
                            Mã tài khoản
                            <p-columnFilter type="text" field="code" display="menu"></p-columnFilter>
                        </div>
                    </th> -->
                    <th>
                        <div>
                           Số tiền
                            <!-- <p-columnFilter type="number" field="totalMoney" display="menu"></p-columnFilter> -->
                        </div>
                    </th>
                    <th>
                        <div>
                            Nội dung
                            <!-- <p-columnFilter type="text" field="content" display="menu"></p-columnFilter> -->
                        </div>
                    </th>
                    <th>
                        <div>
                            Thời gian
                            <!-- <p-columnFilter type="text" field="role" display="menu"></p-columnFilter> -->
                        </div>
                    </th>
                    <th>
                        <div>
                            Người tạo
                        </div>
                    </th>
                    <th>
                        <div>
                            Loại giao dịch
                            <!-- <p-columnFilter type="text" field="type" display="menu"></p-columnFilter> -->
                        </div>
                    </th>
                    <th>
                        <div>
                            Trạng thái
                            <!-- <p-columnFilter type="text" field="status" display="menu"></p-columnFilter> -->
                        </div>
                    </th>
                   
                   
                    <!-- <th style="width: 3rem">
                    </th> -->

                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-obj>
                <tr [class]="obj.hightlightClass">
                   
                    <td>{{obj.code}}</td>
                    <!-- <td>{{obj.code}}</td> -->
                    <td>{{obj.totalMoney.toLocaleString('en-us', {minimumFractionDigits: 0})}} đồng</td>
                    <td>{{obj.content}}</td>
                    <td> {{obj.timeCreated}}</td>
                    <td>{{obj.createdBy}}</td>
                    <td>
                        <p-tag value="Thu" *ngIf = "obj.type == 'in'" severity="success"></p-tag>
                        <p-tag value="Chi" *ngIf = "obj.type == 'out'" severity="warning"></p-tag>
                    </td>
                    <td>
                        <p-tag value="Đã xác nhận" *ngIf = "obj.status == 'confimred'" severity="success"></p-tag>
                        <p-tag value="Chưa xác nhận" *ngIf = "obj.status == 'unconfimred'" severity="warning"></p-tag>
                    </td>
                
                </tr>

            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">Không có dữ liệu</td>
                </tr>
            </ng-template>
        </p-table>


      


    </div>
</div>

<p-dialog [(visible)]="isShowCreate" [maximizable]="true" [resizable]="false"  [contentStyle]="{'overflow': 'scroll'}"  [responsive]="true" [draggable]="false" header="Thông tin giao dịch" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" class="p-fluid" [style]="{width:'50vw', height: '35vw'}" [modal]="true">

    <ng-template pTemplate="content">
        <div class = "grid">
            <div class="text-center col-12" style="font-weight: bold; font-size: large;"> Thông tin giao dịch</div>
            <div class="field col-12 lg:col-6">
                <label for="name" style="font-weight: bold;">Loại giao dịch</label>
                <p-dropdown id="name" [options]="listStatus" placeholder="Chọn loại giao dịch"
                optionLabel="name" optionValue="value" [(ngModel)]="transaction.type"></p-dropdown>
            </div>
            <div class="field col-12 lg:col-6">
                <label for="code" style="font-weight: bold;">Tổng tiền </label>
                <p-inputNumber id="code"  
                [(ngModel)]="transaction.totalMoney" placeholder="Tổng tiền thanh toán" > </p-inputNumber>
            </div>
            <div class="field col-12 ">
                <label for="time" style="font-weight: bold;">Nội dung giao dịch</label>
                <textarea id="code" rows="5" cols="30" pInputTextarea [(ngModel)]="transaction.content"></textarea>
                
            </div>
           
            
          
            
        </div>
       
      
    </ng-template>
    <ng-template  pTemplate="footer">
        <button pButton pRipple  label="Tạo giao dịch" (click)="create()" icon="pi pi-plus" class="p-button-text"></button>
        <!-- <button pButton pRipple type="button" label="Create" icon="pi pi-check" class="p-button-text" [disabled]="!this.groupModel.group_code" *ngIf="!isUpdate" (click)="createGroup()" ></button>
        <button pButton pRipple label="Update" icon="pi pi-pencil" class="p-button-text" *ngIf="isUpdate" [disabled]="!this.groupModel.group_code" (click)="updateGroup()" ></button> -->
    </ng-template>

   
</p-dialog>
