.container {
    display: "flex";
    flex-direction: row;
    width: 100%;
}
.flex-row {
    flex: 1;
    display: "flex";
    flex-direction: "row";
}
.flex-6 {
    flex: 6;
    padding-right: 2px;
    padding-left: 2px;
}
.flex-5 {
    flex: 5;
    padding-right: 2px;
    padding-left: 2px;
}
.flex-3 {
    flex: 3;
    padding-right: 2px;
    padding-left: 2px;
}
.flex-2 {
    flex: 2;
    padding-right: 2px;
    padding-left: 2px;
}
.flex-1 {
    flex: 1;
    padding-right: 2px;
    padding-left: 2px;
}
.flex-05 {
    flex: 0.5;
    padding-right: 2px;
    padding-left: 2px;
}
.flex-row {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.flex-chart{
    display: flex;
    flex-wrap: wrap;
}
.flex-item{
    width:50%
}

.full-width {
    width: 100%;
}


.table-container {
    width: 100%;
    max-width: 100%;
    overflow: auto;
    max-height: 60vh;
 
}
.row{
    display: flex;
    justify-content: space-evenly;
    padding: 0.3rem;
    border-color: #335FB3;
}
.example-card {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .card-icon {
        overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    };
    border: 2px solid;
    margin-top: 10px;
}
.example-card:hover {
    cursor: pointer;
    .card-icon{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

    .title{
        color: #335FB3;
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;
    }
}
.card-icon {
    width: 65px;
    height: 65px;
}
.title {
    padding-top: 12px;
    font-size: 16px;
    font-weight: 400;
    color: black;
}


ngx-mat-select-search {
    ::ng-deep .mat-select-search-inner {
        height: 3.25rem;
        box-shadow: none;
    }
}
.filter {
    ::ng-deep .mat-form-field-wrapper {
        padding: 0 !important;
    }
}
:host ::ng-deep .mat-table-sticky {
    opacity: 1;
}
::ng-deep .mat-paginator-page-size .mat-select-trigger {
    width: max-content !important;
}
@media only screen and (min-width: 1958px) {
    .respSearch {
        flex-direction: row !important;
        min-width: 20%;
        padding-right: 0;
        mat-form-field {
            width: 80% !important;
        }
    }
    .flex-item{
        width:50%
    }
}

@media only screen and (max-width: 1957px) and (min-width: 1533px) {
    .respSearch {
        flex-direction: row !important;
        min-width: 25%;
        padding-right: 0;
        mat-form-field {
            width: 80% !important;
        }
    }
    .flex-item{
        width:50%
    }
}

@media only screen and (max-width: 1532px) and (min-width: 769px) {
    .respSearch {
        flex-direction: row !important;
        min-width: 33.33%;
        padding-right: 0;
        mat-form-field {
            width: 80% !important;
        }
    }
    .flex-item{
        width:50%
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    .respSearch {
        flex-direction: row !important;
        min-width: 50%;
        width: 50%;
        padding-right: 0;
        mat-form-field {
            width: 90% !important;
        }
    }
    .flex-item{
        width:100%
    }
    
}

@media only screen and (max-width: 480px) {
    .respSearch {
        width: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column !important;
        margin-top: 5px;
        padding: 0 5px;
        mat-form-field {
            max-width: 100% !important;
            width: 100%;
        }
    }
    .flex-item{
        width:100%
    }
    
}

@media only screen and (max-width: 605px) {
    .respRow {
        flex-direction: column !important;
    }
    .flex-item{
        width:100%
    }
    
}
.cssTieuDe{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
.card-item{
    border: 1px solid #b1154a;
}
