<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Empty Page</h4>
            <p>This is your empty page template to start building beautiful applications.</p>
            <button (click)="log()">abcd</button>
        </div>
        <div class="form-group col-12">
            <input type="file"
                   id="file"
                   #userPhoto
                   (change)="onFileSelected($event)"
                   name="image"
                   autocomplete="off"
            />
        </div>
    </div>
</div>
<!-- <a [routerLink]="['/onlineExam']" routerLinkActive="router-link-active">onlineExam</a> -->
