<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/landing">
        <img src="assets/layout/images/images.png" alt="logo">
        <span>Travel</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="showDialog()">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button >
        <button class="p-link layout-topbar-button" (click)="showNotification()">
                <i class="pi pi-fw pi-bell"></i>
                <span> Notifications</span>
        </button>
        <p-badge *ngIf =  "newNotifi" value = "Thông báo mới" severity="warning" styleClass="mr-2"> </p-badge>
        <button class="p-link layout-topbar-button " [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
</div>
<p-dialog [(visible)]="isShowDialog" [position]="position" [maximizable]="true" [resizable]="false"  [contentStyle]="{'overflow': 'scroll'}"  [responsive]="true" [draggable]="false" header="Profile" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" class="p-fluid" [style]="{width:'20vw', height: '25vw'}" [modal]="true">
    <ng-template pTemplate="content">
        <div class = "grid">
            <div class="col-12">
                <h3 style="font-weight: bold;">{{username}}</h3>
            </div>
            <div class = "col-12 ">
                <div class="field">
                    <label for="content">Số điện thoại</label>
                    <h4 id="content">{{profile.phoneNumber}}</h4>
                </div>
                <div class="field">
                    <label for="sex">Giới tính</label>
                    <h4 id="sex" *ngIf="profile.sex == 'male'">Nam</h4>
                    <h4 id="sex" *ngIf="profile.sex == 'female'">Nữ</h4>
                </div>
                <div class="field">
                    <label for="date">Ngày sinh</label>
                    <h4 id="date">{{profile.dateOfBirth}}</h4>
                </div>
            </div>
          
            
        </div>
       
      
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cập nhật" (click)="showUpdateProfile()"  class="p-button-text"  ></button>
        <button pButton pRipple label="Logout"  class="p-button-text" (click)="logout()"  ></button>
        <!-- <button pButton pRipple  label="Cancel" icon="pi pi-times" class="p-button-text" (click) ="cancelUpdateDialog()"></button> -->
    </ng-template>
   
</p-dialog>



<p-dialog [(visible)]="isShowNotification" [position]="position" [maximizable]="true" [resizable]="false"  [contentStyle]="{'overflow': 'scroll'}"  [responsive]="true" [draggable]="false" header="Notifications" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" class="p-fluid" [style]="{width:'20vw', height: '25vw'}" [modal]="true">
    <div *ngFor = "let notification of notifications" class="mt-2">
        <!-- <div> -->
            <p *ngIf = "notification.status == 'unread'" style="font-weight: bold;" (click) = " detailNotification(notification)">{{notification.title}}</p>
            <p *ngIf = "notification.status == 'readed'" (click) = " detailNotification(notification)" >{{notification.title}}</p>


        <!-- </div> -->
    </div>
    
   
</p-dialog>

<p-dialog [(visible)]="isShowNotifiDetail" [style]="{width: '50vw', height:'30vw'}" [maximizable]="true" [resizable]="false"  [contentStyle]="{'overflow': 'scroll'}"  [responsive]="true" [draggable]="false" header="Notification" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" class="p-fluid"  [modal]="true">
    <ng-template pTemplate="content">
        <div class = "grid">
            <div class="col-12">
                <h3 style="font-weight: bold;">{{selectedNotifi.title}}</h3>
            </div>
            <!-- <div class = "col-12  ">
                <h4>{{selectedNotifi.content}}</h4>
                <h5>{{selectedNotifi.timeCreated}}</h5>

            </div> -->
            <div class = "col-12 ">
                <div class="field">
                    <label for="content">Nội dung</label>
                    <h4 id="content">{{selectedNotifi.content}}</h4>
                </div>

            </div>
            <div class = "col-12 ">
                <div class="field">
                    <label for="time">Thời gian</label>
                    <h5 id="time">{{selectedNotifi.timeCreated}}</h5>

                </div>

            </div>

            
            <div class = "col-12 lg:col-4">
                <div class="field">
                    <!-- <label for="role">User</label>
                    <p-multiSelect id="role" defaultLabel="Select user" autofocus [options]="parentComponent.listUserCanAdd" [(ngModel)]="userSelected" optionLabel="username" optionValue="id" display="chip"></p-multiSelect> -->
                </div>
            </div>
          
            
        </div>
       
      
    </ng-template>
    
   
</p-dialog>

<p-dialog [(visible)]="isShowUpdateProfile" [maximizable]="true" [resizable]="false"  [contentStyle]="{'overflow': 'scroll'}"  [responsive]="true" [draggable]="false" header="Cập nhật thông tin cá nhân" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" class="p-fluid" [style]="{width:'40vw', height: '20vw'}" [modal]="true">
    <ng-template pTemplate="content">
        <div class = "grid">
         
          
                <div class="field col-12 lg:col-4">
                    <label for="name" style="font-weight: bold;">Số điện thoại</label>
                    <input id="name" pTooltip="Số điện thoại" tooltipPosition="bottom" pInputText
                    [(ngModel)]="profile.phoneNumber"required autofocus placeholder="0336218967" />
                    
                </div>
                <div class="field col-12 lg:col-4">
                    <label for="sex">Giới tính</label>
                    <p-dropdown id="sex" [options]="sex" [(ngModel)]="profile.sex"
                    placeholder="Chọn giới tính"  optionLabel="name" optionValue="value"></p-dropdown>
                    
                </div>
                <div class="field col-12 lg:col-4">
                    <label for="name" style="font-weight: bold;">Ngày sinh</label>
                    <input id="name" pTooltip="Ngày tháng năm sinh" tooltipPosition="bottom" pInputText
                    [(ngModel)]="profile.dateOfBirth"required autofocus placeholder="2001-01-05" />
                </div>
           
          
            
        </div>
       
      
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cập nhật" (click)="updateProfile()"  class="p-button-text"  ></button>
        <button pButton pRipple label="Logout"  class="p-button-text" (click)="logout()"  ></button>
        <!-- <button pButton pRipple  label="Cancel" icon="pi pi-times" class="p-button-text" (click) ="cancelUpdateDialog()"></button> -->
    </ng-template>
   
</p-dialog>


