<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center justify-content-center mb-4" style="font-size: 2.5em">
                Bài thi {{exam.name}}

            </div>
            <div class="table-container">
           
                <div fxLayout="row" fxLayoutWrap>
                  
                        
                            <p style="text-align: center;">Thời gian mở : {{exam.startTime | date:'dd/MM/yyyy h:mm a'}}  
                            </p>
                            <p style="text-align: center;"> Thời gian kết thúc {{exam.endTime | date:'dd/MM/yyyy h:mm a'}}</p>
                       
                        <p style="text-align: center;">Số lượng sinh viên : {{exam.numberOfStudents }} </p>
                        <p style="text-align: center;">     Số câu hỏi : {{exam.numberOfQuestions}} </p>

                        <p *ngIf="isStart" style="text-align: center;"> Bài thi kết thúc</p>
                        <div style="text-align:center"> 
                        <p-button label="Attemp quiz now" [disabled]="isStart"    style="display:block; margin: 0 auto;color: red;" [routerLink]="['/onlineExam']"></p-button></div>
                        <ng-template pTemplate="footer">
    
                            <p-button label="Delete" icon="pi pi-times" styleClass="p-button-secondary"
                                [style]="{'margin-left': '.5em'}"></p-button>
                        </ng-template>
                   
                </div>
            </div>
        </div>
       
    </div>